.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
}
@font-face {
    font-family: 'MyFont';
    src: url('./font1.ttf') format('ttf')
        url('./font2.otf') format('otf')
    ;
    font-weight: 600;
    font-style: normal;
}